@import "tailwindcss";
@import "@nuxt/ui";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme static {
  --font-sans: "Inter", sans-serif;
  --font-sans: "Public Sans", sans-serif;

  /* Blue BPS - Navy (Primary) */
  --color-bluebps-50: #eff6ff;
  --color-bluebps-100: #d1e3f8;
  --color-bluebps-500: #1e2b58;
  --color-bluebps-600: #16244a;
  --color-bluebps-700: #0d162d;

  --color-navy-bps: #1e2b58;

  /* Lightblue (Secondary) Agar Sesuai Dashboard */
  --color-lightblue-50: #fefce8;
  --color-lightblue-100: #fef9c3;
  --color-lightblue-400: #facc15; /* Kuning Cerah */
  --color-lightblue-500: #eab308; /* Kuning Utama dari Screenshot */
  --color-lightblue-600: #ca8a04;

  /* alias primary */
  --color-primary: var(--color-bluebps-500);
  --color-primary-50: var(--color-bluebps-50);
  --color-primary-100: var(--color-bluebps-100);
  --color-primary-500: var(--color-bluebps-500);
  --color-primary-600: var(--color-bluebps-600);
  --color-primary-700: var(--color-bluebps-700);
}
